In [2]:
!pip3 install snowflake-connector-python

Requirement already satisfied: snowflake-connector-python in /opt/homebrew/lib/python3.11/site-packages (3.5.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (1.16.0)
Requirement already satisfied: cryptography<42.0.0,>=3.1.0 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (41.0.5)
Requirement already satisfied: pyOpenSSL<24.0.0,>=16.2.0 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (23.3.0)
Requirement already satisfied: pyjwt<3.0.0 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (2.8.0)
Requirement already satisfied: pytz in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (2023.3)
Requirement already satisfied: requests<3.0.0 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (2.31.0)
Requirement already satisfied: packaging in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (3.4)
Requirement already satisfied: urllib3<2.0.0,>=1.21.1 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (2023.7.22)
Requirement already satisfied: typing-extensions<5,>=4.3 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (4.8.0)
Requirement already satisfied: filelock<4,>=3.5 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (3.13.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: platformdirs<4.0.0,>=2.6.0 in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (3.11.0)
Requirement already satisfied: tomlkit in /opt/homebrew/lib/python3.11/site-packages (from snowflake-connector-python) (0.12.3)
Requirement already satisfied: pycparser in /opt/homebrew/lib/python3.11/site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.21)

In [3]:
import pandas as pd

In [4]:
import snowflake.connector

# Set your connection parameters
user='************'
password='************'
account='************'
warehouse='************'
database='************'
schema='************'

try:
    # Establish a connection
    con = snowflake.connector.connect(
        user=user,
        password=password,
        account=account,
        warehouse=warehouse,
        database=database,
        schema=schema
    )
except Exception as e:
    print("error: ", e)


# Create a cursor
cursor = con.cursor()

# -- query to get top 10 trains covering the maximum distance 
cursor.execute("""select train_no, distance
from train_station
where (train_no, SEQ) in (
select train_no, FLOOR(max(SEQ), 0)
from train_station
group by train_no)
order by distance desc limit 10;""")

# Fetch the results
results = cursor.fetchall()

# check the results
for row in results:
    print(row)

('15905', 4260)
('15906', 4256)
('2515', 3939)
('12507', 3932)
('12515', 3932)
('12508', 3930)
('12516', 3930)
('16317', 3769)
('16318', 3765)
('16687', 3663)

In [5]:
# -- query to get top 10 trains covering the maximum distance 
cursor.execute("""select train_no, distance
from train_station
where (train_no, SEQ) in (
select train_no, max(SEQ)
from train_station
group by train_no)
order by distance desc limit 10;""")

# Fetch the results
results = cursor.fetchall()

# Convert the results to a Pandas DataFrame
columns = ["train_no", "distance"]
df = pd.DataFrame(results, columns=columns)
print(df)

  train_no  distance
0    15905      4260
1    15906      4256
2     2515      3939
3    12507      3932
4    12515      3932
5    12508      3930
6    12516      3930
7    16317      3769
8    16318      3765
9    16687      3663

In [6]:
# -- query to get top 10 trains covering the minimum distance 
cursor.execute("""select train_no, distance
from train_station
where (train_no, SEQ) in (
select train_no, max(SEQ)
from train_station
group by train_no)
order by distance asc limit 10;""")

# Fetch the results
results = cursor.fetchall()

# Convert the results to a Pandas DataFrame
columns = ["train_no", "distance"]
df = pd.DataFrame(results, columns=columns)
print(df)

  train_no  distance
0    79488         1
1    79486         1
2    79487         1
3    79489         1
4    79490         1
5    79485         1
6    96015         2
7    96016         2
8    96002         2
9    96009         2

In [7]:
# -- count of unique station codes by states
cursor.execute("""select state, count(DISTINCT(station_code)) 
from stations_info 
where state != '#N/A' and state != '0'
group by state 
order by count(DISTINCT(station_code)) DESC;""")

# Fetch the results
results = cursor.fetchall()

# Convert the results to a Pandas DataFrame
columns = ["state", "count_of_stations"]
df = pd.DataFrame(results, columns=columns)
print(df)

                   state  count_of_stations
0          Uttar Pradesh                309
1            Maharashtra                268
2             Tamil Nadu                203
3                  Assam                175
4              Rajasthan                174
5                Gujarat                164
6         Andhra Pradesh                158
7            West Bengal                153
8         Madhya Pradesh                124
9                  Bihar                113
10             Karnataka                111
11                Kerala                 84
12               Haryana                 83
13                Punjab                 77
14                Odisha                 62
15             Jharkhand                 58
16             Telangana                 55
17          Chhattisgarh                 34
18     Jammu and Kashmir                 29
19                 Delhi                 26
20                   Goa                 20
21           Uttarakhand                 20
22      Himachal Pradesh                 15
23               Tripura                  5
24            Puducherry                  4
25       Jammu & Kashmir                  4
26            Tamil nadu                  2
27              Gujarat|                  2
28            Chandigarh                  1
29             Meghalaya                  1
30        Andhra pradesh                  1
31               Manipur                  1
32             Delhi NCT                  1
33               Mizoram                  1
34     Arunachal Pradesh                  1
35           Pondicherry                  1
36                 bihar                  1
37              Nagaland                  1
38         Uttar pradesh                  1
39  Karnataka(Bangalore)                  1

In [8]:
# -- finding busiest stations
cursor.execute("""select station_code, count(station_code)
from train_station
group by station_code
order by count(station_code) desc limit 10;""")

# Fetch the results
results = cursor.fetchall()

# Convert the results to a Pandas DataFrame
columns = ["station_code", "busiest_station"]
df = pd.DataFrame(results, columns=columns)
print(df)

  station_code  busiest_station
0         CSMT             1027
1          KYN              828
2          TNA              796
3         SDAH              745
4          MSB              738
5          HWH              699
6           DR              567
7          DDJ              463
8          CLA              462
9          TBM              434

In [9]:
# -- count of distinct trains running in each state
cursor.execute("""select s.state, count(distinct(st.train_no))
from stations_info s
join train_station st on s.station_code = st.station_code
where s.state != '#N/A' and s.state != '0'
group by s.state
order by count(distinct(st.train_no)) desc;""")

# Fetch the results
results = cursor.fetchall()

# Convert the results to a Pandas DataFrame
columns = ["state", "count_of_trains_running"]
df = pd.DataFrame(results, columns=columns)
print(df)

                   state  count_of_trains_running
0            Maharashtra                     2696
1            West Bengal                     2433
2          Uttar Pradesh                     1853
3             Tamil Nadu                     1803
4         Andhra Pradesh                     1154
5                  Bihar                     1016
6         Madhya Pradesh                      858
7              Rajasthan                      699
8                  Delhi                      698
9                Haryana                      692
10               Gujarat                      686
11             Karnataka                      675
12             Jharkhand                      671
13             Telangana                      628
14                Punjab                      481
15                Odisha                      474
16             Delhi NCT                      355
17                Kerala                      350
18          Chhattisgarh                      278
19                 Assam                      237
20           Uttarakhand                      201
21       Jammu & Kashmir                      139
22                   Goa                      127
23     Jammu and Kashmir                      117
24            Tamil nadu                       85
25            Puducherry                       82
26            Chandigarh                       66
27      Himachal Pradesh                       46
28              Nagaland                       45
29               Tripura                       26
30                 bihar                       22
31           Pondicherry                       12
32              Gujarat|                       11
33  Karnataka(Bangalore)                       10
34         Uttar pradesh                       10
35        Andhra pradesh                        7
36     Arunachal Pradesh                        6
37               Mizoram                        2
38             Meghalaya                        2
39               Manipur                        2

In [10]:
# -- count of distinct trains that come to any particular stations
cursor.execute("""select station_code, count(distinct(train_no))
from train_station
group by station_code
order by count(distinct(train_no)) desc limit 10;""")

# Fetch the results
results = cursor.fetchall()

# Convert the results to a Pandas DataFrame
columns = ["station_code", "count_of_trains_running"]
df = pd.DataFrame(results, columns=columns)
print(df)

  station_code  count_of_trains_running
0         CSMT                     1027
1          KYN                      828
2          TNA                      796
3         SDAH                      745
4          MSB                      738
5          HWH                      699
6           DR                      567
7          DDJ                      463
8          CLA                      462
9          TBM                      434

In [11]:
# -- get trains route by station
cursor.execute("""select ts.train_no, ts.SEQ, ts.station_code, s.station_name, ts.arrival_time, ts.departure_time
from train_station ts
JOIN train_info t on t.train_no = ts.train_no
JOIN stations_info s on s.station_code = ts.station_code
where ts.train_no = '19571'
order by ts.SEQ;""")

# Fetch the results
results = cursor.fetchall()

# Convert the results to a Pandas DataFrame
columns = ["train_no", "sequence", "station_code", "station_name", "arr_time", "depart_time"]
df = pd.DataFrame(results, columns=columns)
df.set_index("train_no", inplace=True)
print(df)

          sequence station_code  station_name  arr_time depart_time
train_no
19571            1          RJT        RAJKOT  07:15:00    07:15:00
19571            2         BKNG   BHAKTINAGAR  07:25:00    07:26:00
19571            3          GDL        GONDAL  08:04:00    08:05:00
19571            4          VRR        VIRPUR  08:35:00    08:36:00
19571            5          NUD      NAVAGADH  08:48:00    08:49:00
19571            6          JLR   JETALSAR JN  09:00:00    09:15:00
19571            7          DJI       DHORAJI  09:34:00    09:35:00
19571            8           UA        UPLETA  10:05:00    10:06:00
19571            9          BHY    BHAYAVADAR  10:17:00    10:18:00
19571           10          PLM   PANELI MOTI  10:27:00    10:28:00
19571           11          JDH   JAM JODHPUR  10:41:00    10:42:00
19571           12          WAB         BALWA  10:49:00    10:50:00
19571           13          WSJ  WANSJALIYA J  11:02:00    11:04:00
19571           14          RWO       RANAVAV  11:21:00    11:22:00
19571           15          PBR     PORBANDAR  11:55:00    11:55:00